body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: slategrey;
    margin: 5%;
}

h1 {
    font-size: 50pt;
    text-align: center;
}

h3 {
    display: inline;
}

courseField {
    align-content: center;
    text-align: center;
}

.button {
    background-color: #495867;
    border: none;
    color: #BDD5EA;
    padding: 15px 32px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    margin: auto;
    display: block
}

.button4:hover {
    background-color: #BDD5EA;
    color: #495867;
}

#footer {
    z-index: 2; /* for fixed layout: keeps footer on top of other elements */
    width: 100%; /* for fixed layout */
    position: fixed; /* for fixed layout */
    bottom: 0px; /* for fixed layout */
    left: 0px; /* for fixed layout */
    color: #BDD5EA;
    clear: both;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.75px;
    background-color: #495867;
}
